<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PhpCsFixer' => true,
		'blank_line_before_statement' => [],
    ])
    ->setFinder($finder)
;
